@import url(reset.css);
:root {
    --main-border-color: #61c7d4;
    --title-color: #383838;
    --link-color: #2167b8;
}
body {
    font-family: "Open Sans";
    background-color: #e7e7e7;
    color: var(--title-color);
}
a:hover {
    border-bottom: 1px solid var(--link-color);
}

.wrapper {
    display: flex;
}
main {
    width: 100%;
    margin: 0 25px;
}

section {
    margin: 25px 0;
}
.container-info {
    display: flex;
    margin-top: 20px;
}

.section-title {
    font-size: 30px;
    color: #000000;
    border-bottom: 1px solid #000000;
}
.text-info {
    margin-right: 20px;
    text-align: justify;
}
.p-text {
    margin-top: 15px;
}

/* SECTION CARD INFO */

.card-info {
    min-width: 300px;
    padding: 10px;
    border: 1px solid #000000;
}
.c-title {
    margin-bottom: 10px;
    padding: 7px;
    background-color: #6ba9f0;
    
}
.c-title p {
    font-size: 16px;
    color: #000000;
    text-align: center;
}

/* SECTION CARD IMAGE */

.section-card-image {
    min-width: 200px;
    max-width: 300px;
    max-height: 250px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #000000;
}
.section-card-image p {
    font-size: 13px;
    color: #000000;
}

footer {
    border-top: 1px solid var(--main-border-color);
    padding: 30px 0 40px 0;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.container p {
    font-size: 13px;
}
.footer-nav {
    margin-top: 13px;
}
.footer-nav a {
    font-size: 12px;
    margin-right: 12px;
}
.footer-nav a:last-of-type {
    margin-right: 0;
}